body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: green;
    color: #ecf0f1;
    padding: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 70px;
}

#logo {
    max-width: 10%;
    height: 140%;
}

#title {
    margin: 20px;
}
h2 {
    font-size: 30px;
}
main {
    display: flex;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
}

.box {
    box-sizing: border-box;
    border: 8px solid red;
    padding: 20px;
    margin: 10px;
}

#left-column {
    flex: 1;
}
#left-column .box {
    height: 300px;
}
#left-column #dropdown {
    margin-bottom: 70px;
}
#right-column {
    flex: 2;
    display: flex;
    align-items: center;
}
#right-box {
    height: 620px;
    width: 100%;
}
/* Connect java to make this countdown functional! */
#countdown-box {
   margin-top: 20px;
   width: 100%;
   text-align: center;
}

footer {
    background-color: green;
    color: #ecf0f1;
    padding: 10px;
    text-align: center;
    min-height: 75px;
    margin-top: auto;
    vertical-align: center;
}

footer p{
    vertical-align: center;
}

@media screen and (max-width: 1024px) {
    
}

@media screen and (max-width: 768px) {
    main{
        flex-direction: column;
    }
}